header {
    background-color: #F75D59;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    padding: 20px;
  }
  .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px 0;
  }

  .header-content h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }

  .header-content p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .header-content button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

  .header-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }

  .grid-item {
    background-color: #fff;
    padding: 20px;
    text-align: center;
  }
.logo img {
    height: 50px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  /* 8 boxes in one line */
  .box-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .box {
    width: calc(12.5% - 10px);
    height: 100px;
    background-color: #ccc;
    margin-top: 20px;
    box-sizing: border-box;
  }
  
  /* 8 boxes in one line */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .grid-item {
    background-color: #eee;
    padding: 20px;
    text-align: center;
  }

  .content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .content {
    flex-basis: calc(66.66% - 20px);
    margin-bottom: 20px;
  }
  
  .sidebar {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
    padding: 20px;
    background-color: #eee;
  }

  
/*   aside {
    flex-basis: 20%;
    background-color: #333;
    color: #fff;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav ul li {
    padding: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li:hover {
    background-color: #666;
  }
  
  section {
    flex-basis: 80%;
    padding: 20px;
  } */


  aside {
    background-color: #333;
    color: #fff;
    height: 100vh;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav ul li {
    padding: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li:hover {
    background-color: #666;
  }
  
  section {
    margin-left: 200px;
    padding: 20px;
  }
  .grid-container-two {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    background-color: #f1f1f1;
  }
  
  .grid-item-two {
    background-color: #fff;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  
  /* Footer  */
  footer {
    background-color: #f2f2f2;
    padding: 30px 0;
    font-size: 16px;
  }
  
  footer h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  footer p {
    line-height: 1.8em;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  footer ul li {
    margin-bottom: 10px;
  }
  
  footer a {
    color: #333;
  }
  
  footer a:hover {
    color: #ff3300;
  }
  
  footer hr {
    border-top: 1px solid #ccc;
    margin-top: 30px;
    margin-bottom: 30px;
  }
   

  /* three 5 boxes in row with overlap with each other using html and css start */
  /* .container-last {
    width: 80%;
    margin: auto;
  }
  
  .row-last {
    position: relative;
    height: 120px;
    margin-bottom: 30px;
  }
  
  .box-last {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #FFA07A;
    border-radius: 50%;
  }
  
  .row-last-last:nth-child(1) .box:nth-child(1) {
    // top: -10px; 
    left: 40%;
  }
  
  .row-last:nth-child(1) .box:nth-child(2) {
    // top: -10px; 
    left: 55%;
  }
  
  .row-last:nth-child(1) .box:nth-child(3) {
    // top: -10px; 
    left: 70%;
  }
  
  .row-last:nth-child(1) .box:nth-child(4) {
    // top: -10px; /
    left: 85%;
  }
  
  .row-last:nth-child(1) .box:nth-child(5) {
    /* top: -10px; 
    left: 100%;
  }
  
  .row-last:nth-child(2) .box:nth-child(1) {
    /* top: 30px; 
    left: 10%;
  }
  
  .row-last:nth-child(2) .box:nth-child(2) {
    /* top: 30px; 
    left: 25%;
  }
  
  .row-last:nth-child(2) .box:nth-child(3) {
    /* top: 30px; 
    left: 40%;
  }
  
  .row-last:nth-child(2) .box:nth-child(4) {
    /* top: 30px; 
    left: 55%;
  }
  
  .row-last:nth-child(2) .box:nth-child(5) {
    /* top: 30px; 
    left: 70%;
  }
  
  .row-last:nth-child(3) .box:nth-child(1) {
    /* top: 70px; 
    left: 0%;
  }
  
  .row-last:nth-child(3) .box:nth-child(2) {
    /* top: 70px; 
    left: 15%;
  }
  
  .row-last:nth-child(3) .box:nth-child(3) {
    /* top: 70px; 
    left: 30%;
  }
  
  .row-last:nth-child(3) .box:nth-child(4) {
    /* top: 70px; 
    left: 45%;
  }
  
  .row-last:nth-child(3) .box:nth-child(5) {
    /* top: 70px; 
    left: 60%;
  } */
  
  /* three 5 boxes in row-last with overlap with each other using html and css End */


  /* Two boxes code start */
  .container-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .box-two-one{
    width: 45%;
    background-color: #ff3300;
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
  }
  .box-two-two {
    width: 45%;
    height: 170px;
    background-color: #f7f7f7;
    padding: 20px;
    margin: 10px;
    overflow: auto;
  }
  .box-third {
    width: 45%;
    background-color: #f7f7f7;
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
    
  }
  .box-forth-two {
    width: 45%;
    height: 190px;
    background-color: #f7f7f7;
    padding: 20px;
    margin: 10px;

  }

  .box-two h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .box-two p {
    font-size: 16px;
    line-height: 1.5;
  }
 /* Two boxes code start End*/

 /* Login css start */
 @use postcss-preset-env {
    stage: 0;
  }
  
  /* config.css */
  
  :root {
    --baseColor: #606468;
  }
  
  /* helpers/align.css */
  
  .align {
    display: grid;
    place-items: center;
  }
  
  .grid {
    inline-size: 90%;
    margin-inline: auto;
    max-inline-size: 20rem;
  }
  
  /* helpers/hidden.css */
  
  .hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  /* helpers/icon.css */
  
  :root {
    --iconFill: var(--baseColor);
  }
  
  .icons {
    display: none;
  }
  
  .icon {
    block-size: 1em;
    display: inline-block;
    fill: var(--iconFill);
    inline-size: 1em;
    vertical-align: middle;
  }
  
  /* layout/base.css */
  
  :root {
    --htmlFontSize: 100%;
  
    --bodyBackgroundColor: #2c3338;
    --bodyColor: var(--baseColor);
    --bodyFontFamily: "Open Sans";
    --bodyFontFamilyFallback: sans-serif;
    --bodyFontSize: 0.875rem;
    --bodyFontWeight: 400;
    --bodyLineHeight: 1.5;
  }
  
  * {
    /* box-sizing: inherit; */
  }
  
  html {
    box-sizing: border-box;
    font-size: var(--htmlFontSize);
  }
  
  .login{
    margin-top: 20px;
    background-color: #666;
  }
  /* modules/anchor.css */
  
  :root {
    --anchorColor: #eee;
  }
  
  a {
    color: var(--anchorColor);
    outline: 0;
    text-decoration: none;
  }
  
  a:focus,
  a:hover {
    text-decoration: underline;
  }
  
  /* modules/form.css */
  
  :root {
    --formGap: 0.875rem;
  }
  
  input {
    background-image: none;
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    transition: background-color 0.3s;
  }
  
  input[type="submit"] {
    cursor: pointer;
  }
  
  .form {
    display: grid;
    gap: var(--formGap);
  }
  
  .form input[type="password"],
  .form input[type="text"],
  .form input[type="submit"] {
    inline-size: 100%;
  }
  
  .form__field {
    display: flex;
    margin-top: 9px;
  }
  
  .form__input {
    flex: 1;
  }
  
  /* modules/login.css */
  
  :root {
    --loginBorderRadus: 0.25rem;
    --loginColor: #eee;
  
    --loginInputBackgroundColor: #3b4148;
    --loginInputHoverBackgroundColor: #434a52;
  
    --loginLabelBackgroundColor: #363b41;
  
    --loginSubmitBackgroundColor: #ea4c88;
    --loginSubmitColor: #eee;
    --loginSubmitHoverBackgroundColor: #d44179;
  }
  
  .login {
    color: var(--loginColor);
  }
  
  .login label,
  .login input[type="text"],
  .login input[type="password"],
  .login input[type="submit"] {
    border-radius: var(--loginBorderRadus);
    padding: 1rem;
  }
  
  .login label {
    background-color: var(--loginLabelBackgroundColor);
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-inline: 1.25rem;
  }
  
  .login input[type="password"],
  .login input[type="text"] {
    background-color: var(--loginInputBackgroundColor);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  
  .login input[type="password"]:focus,
  .login input[type="password"]:hover,
  .login input[type="text"]:focus,
  .login input[type="text"]:hover {
    background-color: var(--loginInputHoverBackgroundColor);
  }
  
  .login input[type="submit"] {
    background-color: var(--loginSubmitBackgroundColor);
    color: var(--loginSubmitColor);
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .login input[type="submit"]:focus,
  .login input[type="submit"]:hover {
    background-color: var(--loginSubmitHoverBackgroundColor);
  }
  
  /* modules/text.css */
  
  p {
    margin-block: 1.5rem;
  }
  
  .text--center {
    text-align: center;
  }
  
 /* Login css End */

/* Search bar start */
.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-form input[type="text"] {
    padding: 8px;
    border-radius: 25px;
    border: 1px solid #ccc;
    width: 70%;
    font-size: 16px;
  }
  
  .search-form button[type="submit"] {
    /*padding: 8px 16px; */
    margin-left: -37px;
    background-color: #fff;
    /* color: #fff; */
    /* border-radius: 0 4px 4px 0; */
    border: none;
    /* font-size: 16px; */
    cursor: pointer;
  }
  
  .search-form button[type="submit"]:hover {
    /* background-color: #0069d9; */
  }

  .search-form input[type="text"]::placeholder {
    /* Styles for the placeholder text */
    color: red; /* Set the desired color */
    font-style: italic; /* Set the desired font style */
    text-indent: 20px; /* Adjust the indentation value as needed */
  }
  
  
  
/* Searchbar End */
/* for set the attribute class  */
.red{
    color: rebeccapurple;
    background-color: #d44179;
}
.white{
    /* background-color: white; */
}

















.carousel-container .item {
  background-color: #fff;
  /* padding: 10px; */
  /* text-align: center; */
  /* margin: 5px; */
  /* border-radius: 3px; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}
.owl-carousel {
  width: 90%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the carousel horizontally */
}
.owl-item {
  width: 10px;
}

.nav-tabs .nav-link {
  border: 1px solid #ccc;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  background-color: #f8f9fa;
}
.nav-tabs .nav-link.active {
  background-color: #007bff;
  color: white;
}
.tab-content {
  position: relative;
}
.arrow {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #007bff;
}

